@tailwind base;
@tailwind components;
@tailwind utilities;

ul li {
    color: #fff;
    font-size: 10px;
}

div.country:hover{
    transform: scale(1.05);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }

  .skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
  }

  @keyframes skeleton-loading{
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
  }

  @media (min-width: 520px) and (max-width: 750px){
    .search-filter{
      justify-content: space-between;
    }
  }

  @media (min-width: 640px){
    .card-center{
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media(min-width: 767px){
    .search-filter-md{
      width: 95%;
    }
  }