@tailwind base;
@tailwind components;
@tailwind utilities;

ul li {
  color: #fff;
  font-size: 10px;
}

#country-cat > li,
#country-cat > ul > li {
  padding: 10px;
}

.icon-color {
  @apply text-black;
}

.dark .icon-color {
  @apply text-white;
}

.checkHover {
  @apply hover:scale-105 text-green-400;
}

div.country:hover {
  transform: scale(1.05);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.fade-in {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.fade-in.visible {
  opacity: 1;
}

@media (max-width: 639px) {
  .filter-spacing {
    margin-top: 10px;
  }
  .filters-sm {
    position: absolute;
    top: 60px;
    left: 0px;
  }
}

@media (min-width: 641px) {
  .filter-spacing {
    margin-top: 11px;
  }
  .filters-sm {
    position: absolute;
    top: 60px;
    right: 0px;
  }
}

@media (min-width: 640px) {
  .changeCol {
    @apply flex-row;
  }
  #filter-button-container {
    @apply items-end;
  }
}

/* @media (max-width: 641px) {
  .filters-column {
    display: flex;
    flex-direction: column;
  }
  .filter-spacing {
    margin-top: 10px;
  }
  .filters-sm {
    position: absolute;
    top: 60px;
    left: 0px;
  }
}

@media (min-width: 640px) {
  .filter-spacing {
    margin-top: 11px;
  }
  .filters-sm {
    position: absolute;
    top: 60px;
    right: 0px;
  }
}
@media (max-width: 641px) {
  .changeCol {
    @apply justify-center space-y-3 items-start mb-3 flex-col;
  }
  #filter-button-container {
    @apply items-start;
  }
} */

.country-info li {
  font-size: 14px;
}

@media (max-width: 750px) {
  .search-filter {
    justify-content: space-between;
  }
  .cards-sm {
    width: 14rem;
    height: 14rem;
  }
}

.info-circle-icon {
  opacity: 0;
  width: 15px;
  height: 15px;
  transition: opacity 0.2s ease-in-out;
}
.info-circle-icon-visible {
  opacity: 1;
}

/*Dropdown list*/
.menu-item {
  @apply !bg-slate-200;
}
.menu-item:hover {
  @apply !bg-slate-400;
}
.dark .menu-item {
  @apply !bg-slate-600;
}

.dark .menu-item:hover {
  @apply !bg-slate-800;
}
.selected {
  @apply !bg-slate-500;
}

.dark .selected {
  @apply !bg-slate-700;
}

@media (min-width: 767px) {
  .search-filter-md {
    width: 95%;
  }
}

.origin-top-right {
  transform: translate3d(0, -20px, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
}
#menu-button {
  border-color: transparent;
  transition: border-color 0.3s ease-out;
}

#menu-button:hover {
  animation: rotate-border 0.35s ease-in-out forwards;
  border-color: limegreen;
  box-shadow: 10px 5px 5px black;
}

#menu-button:mouseleave {
  animation: unrotate-border 0.45s linear forwards;
}

@keyframes rotate-border {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: limegreen;
    box-shadow: 10px 5px 5px black;
  }
}

@keyframes unrotate-border {
  0% {
    border-color: limegreen;
    box-shadow: 10px 5px 5px black;
  }
  100% {
    border-color: transparent;
  }
}

/* Dropdown menu visibility and position styles */
.relative:hover .origin-top-right,
.relative:focus-within .origin-top-right {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}
